
Graham/.vs/ProjectEvaluation/graham.projects.v2
Graham/.vs/ProjectEvaluation/graham.metadata.v2
Graham/.vs/Graham/v17/.suo
Graham/.vs/Graham/v17/.futdcache.v1
Graham/.vs/Graham/FileContentIndex/55d57657-c850-4072-8615-ba8ede73afa8.vsidx
Graham/.vs/Graham/FileContentIndex/1612aabb-cb77-4e0f-9193-7c0386e95abb.vsidx
Graham/.vs/Graham/DesignTimeBuild/.dtbcache.v2
